@import '~antd/dist/antd.css';

html,body{
    height: 100%;
    width: 100%;
}
#root{
    height: 100%;
}
.tool-bar{
    width: 802px;
    height: 36px;
    background-color: white;
    border: 1px solid #618ce1;
    align-items: center;
    display: flex;
    padding: 0 10px;
    box-sizing: border-box;
    /*box-shadow: 0 0 12px lightgray;*/
    position: relative;
    z-index: 99;
}

.width-radio:nth-child(10){
    margin-left: 20px;
}
.width-radio{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    width: 18px;
    height: 18px;
    border: 1px solid rgb(188,188,188);
    cursor: pointer;
    transition: 0.2s;

}

.width-radio:hover{
    border: 1px solid #618ce1;
}
.width-radio:hover .width-circle{
    background-color: royalblue;
}

.width-circle{
    border-radius: 50%;
    transition: 0.2s;
    background-color: darkgrey;
}



.color-picker{
    width: 22px;
    height: 22px;
    margin-right: 6px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 50%;
}

.container{
    /*box-sizing: ;*/
    position: relative;
    border: 1px solid lightgray;
    border-top: none;
    background-color: white;
    /*box-shadow: 0 0 px lightgray;*/
    cursor: url("https://www.yezhikang.site:8081/static/pen-cursor.ico"),auto;
}

.container--clear{
    cursor: url("https://www.yezhikang.site:8081/static/eraser-cursor.ico"), auto;
}

.active-outer{
    border: 1px solid #618ce1;
}

.current-status{
    position: absolute;
    top: 48px;
    left: 10px;
    display: flex;
    background-color: rgba(222,222,222,0.7);
    padding: 6px 10px;
    border-radius: 6px;
    z-index: -5;
}

.clear-button{
    font-size: 12px;
    transition: 0.2s;
    cursor: pointer;
    margin-left: auto;
    color: royalblue;
}

.clear-button:hover{
    color: #f5791a;
}

.eraser{
    width: 11px;
    height: 11px;
    border: 1px solid darkgrey;
    transition: 0.2s;
    cursor: pointer;
    margin-right: 12px;
}

.eraser--active{
    border: 1px solid #f5791a;
    background-color: #fafafa;
}

.main{
    height: 100%;
    width: 100%;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    padding-top: 40px;
    box-sizing: border-box;
    padding-left: 40px;
    background-color: #535b6e;
}

.rectangle-button{
    /*color: darkgrey;*/
    transition: 0.2s;
}

.rectangle-button:hover{
    color: #618ce1;
}


/*.container__border{*/
/*    border: 1px solid darkgrey;*/
/*    position: absolute;*/
/*    right: 0;*/
/*    height: calc(100% - 8px);*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: -1;*/
/*}*/

.fxal{
    display: flex;
    align-items: center;
}

.rectangle-unit{
    height: 26px;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;

}

.rectangle-unit:hover{
    background-color: rgba(65, 105, 225, 0.1);
}
